<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>EXPIRED CONFIRMATION</title>
</head>

<body>
    <h1>Confirmation Expired</h1>
    <p>Hello <%= email %>,</p>
    <p>We're sorry, but your confirmation has expired. Please log in to receive a new confirmation email.</p>
</body>

</html>